/* color theme i am useing: https://colorkit.co/palette/00202e-003f5c-2c4875-8a508f-bc5090-ff6361-ff8531-ffa600-ffd380/ */

html{
    height: 100%;
    font-family: 'Unica One', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(10,15,20);
}

.search-bar {
    display: grid;
    place-items: center;
    margin-top: 25%;
    margin-bottom: 2rem;;
}

.search-bar input {
    padding: 10px;
    background-color: #003f5c;
    border: none;
    border-radius: 5px;
    color: #ffa600;
    font-size: 1.2em;
    width: 65%;
    outline: none;
}

.search-bar input:hover {
    background-color: #005691;
}

.search-bar input:focus {
    box-shadow: 0 0 5px rgba(255, 166, 0, 0.7);
}

.allmedia {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 36px;
}

.allmedia a {
    font-size: 50px;
    color: #ff6361;
    padding: 1rem;
    padding-bottom: 1rem;
    transition: padding .3s cubic-bezier(.455,.03,.515,.955);
}

.allmedia a:hover {
    background: #1a1a1a;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 10%;
}

.allmedia p {
    text-decoration: none;
    font-size: 15px;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
}

